<html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"> <span style="color: #072146;">BBVA</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">

            
          exChange USD-MXN &nbsp;  <span style="color: #02A5A5;" id="exChange"></span>
           </a>
          </li>
       
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Menú 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/notes">Abrir tickets</a>
              <a class="dropdown-item" href="/notes/add">Agregar Ticket</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Logout</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<script>

function exChange(){


  var myHeaders = new Headers();
myHeaders.append("Cookie", "ser9108090=3343861418.39455.0000; TS0175f232=0189f484af2b378b806ac3e32f38fe7c887b76eac01ee76acde1f011f4be65b4ca11f3a73e9ed576b38f3d5fb1f59e62dd907de7b2ef3897b794e332da77126d83efe30a28");

var requestOptions = {
  method: 'GET',
  headers: myHeaders,
  redirect: 'follow'
};

fetch("https://www.banxico.org.mx/SieAPIRest/service/v1/series/SF43718/datos/oportuno?token=3d0d1ec73680aecd65890d854363283dd84af46399654b801d06c1d41516e39b", requestOptions)
  .then(response => response.text())
  .then(result => document.getElementById("exChange").innerHTML=("tipo de cambio paps",result["273"]+result["274"]+result["275"]+result["276"]+result["277"]))
  .catch(error => console.log('error', e2ror));

}

exChange();

</script>


</html>