<div class="jumbotron mt-4">
  <h1 class="display-4">Bienvenido a BBVA México</h1>
  <p class="lead">Sistema de control de incidencias para Internos</p>
  <hr class="my-4">
  <p> BBVA México Tech University
  </p>
 
</div>
